<header>
    <div class="wrap">
        <div class="left">
            <a href="/" class="branding">
                <img src="/static/icon.png">
            </a>
            <ul>
                <li><a href="/addons">Addons</a></li>
                <li><a href="/static">Stats</a></li>
                <li><a href="/rankings">Rankings</a></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Sign in</a></li>
            </ul>
        </div>
    </div>
</header>